<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="style.css">
    <title>Cores e Fontes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        theme: {
        extend: {}
        }
    }
    </script>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Delius+Unicase:wght@400;700&family=Henny+Penny&family=Indie+Flower&family=Kranky&family=Lacquer&family=Momo+Signature&family=Momo+Trust+Display&family=Nosifer&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar+One&family=Sixtyfour&family=Stack+Sans+Notch:wght@200..700&display=swap');
</style>
</head>
<body id = "body">
    <main class="flex flex-col gap-4 justify-center mt-[20rem] items-center">
        <div class="flex flex-col gap-5">
            <h1 class="text-center font-semibold text-5xl" id = "titulo">Testando Fontes e Cores</h1>
            <p class="text-center text-xl" id="paragrafo" >Teste de Cores e Fontes</p>
        </div>
        <div class="flex flex-row gap-[10rem] mt-[5rem] text-xl font-semibold">
            <button class="rounded px-4 py-2 bg-red-500 hover:bg-red-400" id="altera-cor-de-fundo">Alterar Cor de Fundo</button>
            <button class="rounded px-4 py-2 bg-red-500 hover:bg-red-400" id="altera-cor-do-titulo">Alterar Cor do Titulo</button>
            <button class="rounded px-4 py-2 bg-red-500 hover:bg-red-400"  id="altera-cor-do-paragrafo">Alterar Cor do Parágrafo</button>
        </div>
        <div class="flex flex-row gap-[10rem] mt-[2rem] text-xl font-semibold">
            <button class="rounded px-4 py-2 bg-blue-500 hover:bg-blue-400" id="altera-fonte-do-titulo">Alterar Fonte do Titulo</button>
            <button class="rounded px-4 py-2 bg-blue-500 hover:bg-blue-400" id="altera-fonte-do-paragrafo">Alterar Fonte do Parágrafo</button>
        </div>
        <div class="mt-[2rem] text-xl font-semibold">
            <button class="rounded px-4 py-2 bg-green-500 hover:bg-green-400" id="altera-tudo">Alterar Tudo</button>
        </div>
        
    </main>
        <script src="script.js"></script>
</body>
</html>